


<div class="container-fluid mt-3" id="aboutId">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
             <h1 class="text-center main-heading">About Us</h1>
             <p class="text-center sub-heading text-secondary">grow your business with us</p>

            <div class="row mt-5">
          <div class=" image-style col-md-6 col-12 hero-text">
                  <div class="image">
                    <img src="/img/about.jpg" alt="">
                  </div>
          </div>

             
             {{!-- right side --}}

          <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex flex-column justify-content-center align-items-start">
            <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
          
            <P>We Are The Team Of <span class="bold-style text-info">Professional Developer</span>. your Number One Source For
             All Things. We're Dedicated to Giving You The Very Best Of Work. </P>
            <button class="btn-style btn1 p-1 ps-3 pe-3 mt-3">Read more</button>
          </div>



          </div>
        </div>
    </div>
   </div>