<div class="container-fluid mt-3" id="contactId">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Contact Us</h1>
      <p class="text-center sub-heading text-secondary">We will be happy to help
        you</p>

      <div class="row">
        <div class="col-12 col-md-8 m-auto">
          <form action="/contact" method="POST">
            <label class="mt-3">Name</label>
            <input
              type="text"
              class="form-control p-1 fw-bolder"
              placeholder="Enter your name"
              name="name"
            />
            <label class="mt-3">Email Address</label>
            <input
              type="text"
              class="form-control p-1 fw-bolder"
              placeholder="Enter your email"
              name="email"
            />
            <label class="mt-3">Phone</label>
            <input
              type="text "
              class="form-control p-1 fw-bolder"
              placeholder="Enter your phone"
              name="Phone"
            />
            <label class="mt-3">Message</label>
            <input
              type="text "
              class="form-control p-1 fw-bolder"
              placeholder="Message"
              name="Message"
            />
            <button
              class="btn btn-danger my-3 submit-btn"
              type="submit"
            >Submit</button>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>